<div class="container">
  <div class="trips-heading">
    <h1><%=@trip.name %></h1>
  </div>
  <div class="box">
      <div class="location-cards">
        <%@trip.locations.each do |location|  %>
        <div class="card" style="background-image: linear-gradient(to bottom, rgba(129 120 120 / 0%), rgba(0 0 0 / 63%)), url('<%= cl_image_path @trip.photo.key %>'); background-size: 100%; background-position: center;">
          <%= link_to location_path(location) do %>
            <h2 style="color: white;"><%= location.city %>, <%= location.country %> </h2>
            <p style="color: white;"> <i class="fa-solid fa-receipt" style="color: #ffffff;"></i>  <%= location.activites %> </p>
            <p style="color: white;"> <i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i>
            <%= location.start_date.strftime("%d %B %y") %>
            - <%= location.end_date.strftime("%d %B %y") %> </p>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div data-controller="toggle" class="mt-5">
      <button data-action="click->toggle#fire" class="button">Add location</button>
        <div class="locations-form">
          <div data-toggle-target="togglableElement" class="d-none">
            <%= render "locations/new", location: @location, trip: @trip %>
          </div>
        </div>
    </div>

</div>
