<div class="container">
  <div class="trips-heading">
    <h1><%=@trip.name %></h1>
  </div>
  <div class="box">
      <div class="location-cards">
        <%@trip.locations.each do |location|  %>
        <div class="card">
          <%= link_to location_path(location) do %>
            <h2><%= location.city %>, <%= location.country %> </h2>
            <p>Activities: <%= location.activites %> </p>
            <p><%= location.start_date.strftime("%d %B %y") %>
            -<%= location.end_date.strftime("%d %B %y") %> </p>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div data-controller="toggle" class="mt-5">
      <button data-action="click->toggle#fire" class="button">Add location</button>
        <div class="locations-form">
          <div data-toggle-target="togglableElement" class="d-none">
            <%= render "locations/new", location: @location, trip: @trip %>
          </div>
        </div>
    </div>

</div>
