<div>
  <% if @user %>
    <h4><%= @user.first_name %> <%= @user.last_name %></h4>
    <div class="profile-picture">
    <%= cl_image_tag @user.photo.key, alt:"Profile photo" %>
    </div>
    <div>
      <h5>Bio</h5>
      <%= @user.profile_bio %>
    </div>
    <div>
      <h5>Trips</h5>
      <% @user.trips.each do |trip| %>
      <div>
        <%= trip.name %>
        <hr>
      </div>
      <% end %>
    </div>
  <% else %>
    <p>No user found.</p>
  <% end %>
</div>
