<div class = "container">
  <div class = "friend-request-button">
      <% if @is_friend&.status == "pending" %>
        Friend request sent
      <% elsif @is_friend&.status == "accepted" %>
      </div>
  <div class="profile-card">
    <div class="card-friendship" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @user.photo.key %>')">
      <h5><%= @user.first_name %> <%= @user.last_name %></h5>
    </div>

      <% if @is_friend&.status == "pending" %>
        Friend request sent
      <% elsif @is_friend&.status == "accepted" %>
      <% else %>
      <%= simple_form_for @friendship do |f| %>
          <%= f.input :requestee_id, label:false, input_html:{value: @user.id, class:"d-none"} %>
          <%= f.submit "Add", class: "btn btn-warning" %>
        <% end %>
      <% end %>
      </div>

      <div class ="about-user">
        <h5>About <%= @user.first_name %></h5>
        <%= @user.profile_bio %>
      <% if @is_friend&.status == "accepted" %>
      </div>

      <div class ="user-bio-trips">
        <h5><%= @user.first_name %>'s Trips</h5>
        <% if @user.trips.any? %>
        <ul>
        <% @user.trips.each do |trip| %>
          <li><%= trip.name %></li>
        <% end %>
        </ul>
        <% else %>
        <p>No trips planned.</p>
        <% end %>
    <% end %>
      </div>

      <% end %>

  </div>
