<div>
    <h4><%= @user.first_name %> <%= @user.last_name %></h4>
    <h1>Create a new trip</h1>
    <% if @is_friend&.status == "pending" %>
      "Friend request sent"
    <% elsif @is_friend&.status == "accepted" %>
      "You are already friends"
    <% else %>
      <%= simple_form_for @friendship do |f| %>
        <%= f.input :requestee_id, label:false, input_html:{value: @user.id, class:"d-none"} %>
        <%= f.button :submit, class: "btn btn-warning" %>
      <% end %>

    <% end %>
    <%= cl_image_tag @user.photo.key, class:"d-block w-50", alt:"Profile photo" %>
    <div>
      <h5>Bio</h5>
      <%= @user.profile_bio %>
    </div>
    <% if @is_friend&.status == "accepted" %>
    <div>
      <h5>Trips</h5>
      <% @user.trips.each do |trip| %>
        <%= trip.name %>
      <% end %>
    </div>
  <% end %>
</div>
