<div class="footer">
  <div>
  <%= link_to "/homefeed" do %>
    <i class="fa-solid fa-house" style="color: #ffffff;"></i>
  <% end %>
  </div>
  <div>
  <%= link_to profile_path do %>
    <i class="fa-solid fa-user" style="color: #ffffff;"></i>
  <% end %>
  </div>
  <div>
  <%= link_to new_trip_path do %>
    <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
  <% end %>
  </div>
  <div>
  <%= link_to friendships_path do %>
    <i class="fa-solid fa-user-group" style="color: #ffffff;"></i>
  <% end %>
  </div>
  <div>
  <%= link_to "#" do %>
    <i class="fa-solid fa-gear" style="color: #ffffff;"></i>
  <% end %>
  </div>
</div>
