<div class="footer">
  <div class="footer-btn">
  <%= link_to "/home" do %>
    <i class="fa-solid fa-house" style="color: #ffffff;"></i>
  <% end %>
  </div>
  <div class="footer-btn">
  <%= link_to profile_path do %>
    <i class="fa-solid fa-user" style="color: #ffffff;"></i>
  <% end %>
  </div>
  <div class="footer-btn">
  <%= link_to new_trip_path do %>
    <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
  <% end %>
  </div>
  <div class="footer-btn">
  <%= link_to friendships_path do %>
    <i class="fa-solid fa-user-group" style="color: #ffffff;"></i>
  <% end %>
  </div>
  <div class="footer-btn">
    <div class="btn-group dropup">
      <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-gear" style="color: #ffffff;"></i>
      </span>
      <div class="dropdown-menu">
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
