<div class="container">
  <h1>Friends</h1>

  <div class="col-sm-8 my-3">
    <%= form_with url: friendships_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a name",
            style: "height: 43px;"
        %>
      <%= submit_tag "Search", name: "", class: "btn" %>
    <% end %>
  </div>

  <% if @friendships.any? %>
    <% @friendships.each do |friend| %>
      <% other_user = friend.requester == current_user ? friend.requestee : friend.requester %>
      <div class="cards-friendship">
        <div class="card-friendship" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path other_user.photo.key, crop: :fill, gravity: :face %>')">
          <div>
            <h6><%= link_to "#{other_user.first_name} #{other_user.last_name}", user_path(other_user) %></h6>
          </div>
          <%= link_to friendship_path(friend) do %>
          <div>
            <i class="fa-regular fa-comments" style="color: #fffff;"></i>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    <% else %>
      <em>Sorry, no friends found.</em>
    <% end %>

</div>
