<h1>Friends</h1>

<div class="col-sm-8 my-3">
  <%= form_with url: friendships_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Type a name"
      %>
    <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
  <% end %>
</div>

<% if @friendships.any? %>
    <% @friendships.each do |friend| %>
      <h5><%= friend.requestee.first_name %> <%= friend.requestee.last_name %></h5>
      <%= cl_image_tag friend.requestee.photo.key, class:"d-block w-50", alt:"Profile photo"%>
    <% end %>
  <% else %>
    <em>Sorry, no friends found.</em>
  <% end %>
