<div class="message_container">
  <% if current_user.id == @friendship.requester %>
      <% other_user = @friendship.requestee %>
      <div>
        <%=cl_image_tag @friendship.requester.photo.key, class:"home-avatar"%> <p>Chat with <%= @friendship.requester.first_name %></p>
      </div>
    <%else%>
      <% other_user = @friendship.requester %>
      <div>
        <%=cl_image_tag @friendship.requestee.photo.key, class:"home-avatar"%> <p>Chat with <%=  @friendship.requestee.first_name %></p>
      </div>
      <% end %>
  <div class="message-box">
    <%= simple_form_for [@friendship, @message],
      html: {class: "d-flex",
            data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|%>
    <% if current_user.id == @friendship.requester %>
      <% other_user = @friendship.requestee %>
    <%else%>
      <% other_user = @friendship.requester %>
      <% end %>
      <div class="message_div">
        <%=  turbo_stream_from "friendship_#{@friendship.id}_messages" %>
        <div id="messages" class="messages">
          <% @friendship.messages.each do |message| %>
          <%= render "messages/message", message: message , user: current_user %>
          <% end %>
        </div>
      </div>
  </div>

    <div class="send_div">
      <%= f.input :content,
        label: false,
        placeholder: "Send a Message...",
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.submit "Send", class: "btn mb-3" %>
        <% end %>
    </div>

</div>
