<div class="container">
  <% if @friends_trips.any? %>
    <% @friends_trips.each do |trip| %>
      <a href="<%= trip_path(trip) %>" class="friend-card">
        <div class="friend-trip-img">
      <% if trip.photo.attached? %>
        <%= cl_image_tag trip.photo.key %>
      <% else %>
        <h3>No image available.</h3>
      <% end %>
    </div>
        <% friend = trip.user %>
        <div class="friend-details">
          <h6 class="trip-name"><i class="fa-solid fa-user" style="color: #ed719e;"></i><%= friend.first_name %>'s Trip</h6>
          <div class="trip-name-dates">
          <% if trip.locations.any? %>
            <% trip.locations.each do |location| %>
              <div class="trip-dates">
                <i class="fa-solid fa-calendar-days" style="color: #ed719e;"></i>
                <span>
                <%= location.start_date.strftime("%d %B %Y") %> to <%= location.end_date.strftime("%d %B %Y") %></span>
              </div>
              <div class="trip-location">
                <i class="fa-solid fa-location-dot" style="color: #ed719e;"></i>
                <span><%= location.city %> - <%= trip.name %></span>
              </div>
            <% end %>
            <% else %>
            <p>no locations available for this trips</p>
            <% end %>
          </div>
          <div class="chat-icon">
            <i class="fa-regular fa-comments" style="color: #ed719e;"></i>
          </div>
        </div>
      </a>
    <% end %>
    <% else %>
    <h3> No updates from friends.</h3>
    <% end %>
</div>
