<div class="home-container">
  <div class="greeting">
  <h5>Hello <%= @user.first_name %> 👋 </h5>
  <hr style="width: 100px; border: 1px solid #d4af37; margin: 20px auto;">
  </div>

  <div class="friend-details">
    <% @friends_trips.each do |trip| %>
      <a href="<%= trip_path(trip) %>">
        <div class="friend-trip-img"   style="background-image: linear-gradient(to bottom, rgba(129 120 120 / 0%), rgba(0 0 0 / 63%)), url('<%= cl_image_path trip.photo.key %>')">

            <div class="post-banner">
              <%= link_to user_path (trip.user) do %>
                <%=cl_image_tag trip.user.photo.key, class:"home-avatar"%>
              <% end %>

              <%= link_to friendship_path(Friendship.find_by(requestee: current_user, requester: trip.user) || Friendship.find_by(
              requestee: trip.user, requester: current_user)) do %>
              <i id="home-comment" class="fa-regular fa-comments" style="color: #ffffff;"></i>
              <% end %>
            </div>

          <div class="overlay">
            <h6 class="trip-name"><%= trip.user.first_name %>'s Trip</h6>
            <div class="trip-name-dates">
              <% trip.locations.each do |location| %>
                <div class="trip-dates">
                  <i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i>
                  <span> <%= location.start_date.strftime("%d %B %Y") %> to <%= location.end_date.strftime("%d %B %Y") %></span>
                </div>
                <div class="trip-location">
                  <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>
                  <span><%= location.city %> - <%= trip.name %></span>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </a>
  </div>
    <% end %>
</div>
