<div class ="locations form">

   <%= simple_form_for [@trip, @location] do |f| %>
    <div>
      <%= f.label :country, "Country *" %>
      <%= f.country_select :country, as: :country, input_html: {class:"form-control"}%>
    </div>
    <div>
      <%= f.input :city , input_html: {class:"form-control"}%>

    </div>
    <div>
      <%= f.input :activites %>

    </div>
    <div>
      <%= f.input :start_date, as: :string, input_html:{data: {datepicker_target: "startDate"}} %>

    </div>
    <div>
      <%= f.input :end_date, as: :string, input_html:{data: {datepicker_target: "endDate"}} %>

    </div>
      <%= f.submit :Submit %>
    <% end %>

</div>
