<div class="locations-form">
   <%= simple_form_for [@trip, @location] do |f| %>
    <div>
      <%= f.label :country, "Country" %>
      <%= f.country_select :country, label: "Country", input_html: { class: "country-input" }, required: false %>
    </div>
    <div>
      <%= f.input :city, label: "City", input_html: { class: "form-control" }, required: false %>
    </div>
    <div>
      <%= f.input :activites, label: "Activities", input_html: { class: "form-control" }, required: false %>
    </div>
    <div>
      <%= f.input :start_date, label: "Start Date", as: :string, input_html: { data: { controller: "datepicker" }, class: "form-control" }, required: false %>
    </div>
    <div>
      <%= f.input :end_date, label: "End Date", as: :string, input_html: { data: { controller: "datepicker" }, class: "form-control" }, required: false %>
    </div>
    <div>
      <%= f.submit 'Submit', class: "button" %>
    </div>
   <% end %></div>
