<div class="container">
  <h1><%= @location.city %></h1>
  <p>Travellers also going to <%= @location.city %></p>
  <% @locations.each do |location| %>
  <div class="location-user-cards">
      <%= link_to user_path(location.trip.user)  do %>
      <div class="location-user-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url('<%= cl_image_path location.trip.user.photo.key, crop: :fill, gravity: :face %>')">
        <div class="user-info">
          <p><%= location.trip.user.first_name %></p>
          </div>
          <div class="trip-info">
            <p> <i class="fa-solid fa-calendar-days" style="color: #fffff;"></i> <%= location.start_date.strftime("%d %B %y") %> - <%= location.end_date.strftime("%d %B %y") %></p>
            <p> <i class="fa-regular fa-clipboard" style="color: #fffff;"></i> <%= location.activites %></p>
          </div>
      </div>
  <% end %>
</div>
<% end %>
</div>
