<h1>Users going to <%= @location.city %></h1>
<br>
<% @locations.each do |location|  %>
  <%= cl_image_tag location.trip.user.photo.key, width:60, height:60, crop: :fill %>
  <p><%= location.trip.user.first_name %></p>
  <p>from <%= location.start_date.strftime("%A %B %d") %> to <%= location.end_date.strftime("%A %B %d") %></p>
  <hr>
<% end %>
